@import "loading.css";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #33364d;
}

.home-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.home-container img {
    width: 300px;
    padding-top: 100px;
}

.search-bar {
    display: flex;
    margin-top: 30px;
    box-shadow: 0px 5px 18px -6px rgba(51,54,77,1);
    border-radius: 25px;
    width: 500px;
}

.search-bar input{
    border: 0;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    flex-grow: 1;
    padding: 0 20px;
}

.search-bar input:focus {
    outline: none;
}


.search-bar button {
    border: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 50px;
    cursor: pointer;
}

.search-bar button:focus {
    outline: none;
}

.search-container .filters {
    margin-left: auto;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: unset;
    padding: 0 15px;
}

.home-container.results {
    margin-top: 15px;
}

.home-container.results .search-bar {
    margin-top: 0;
}

.home-container.results form {
    display: flex;
    align-items: center;
}

.home-container.results img {
    padding-top: 0;
    height: 80px;
    width: auto;
    margin-right: 30px;
}

.trends-container h1{
    text-align: center;
    font-weight: 700;
}

.trends-container h1 i {
    margin-right: 20px;
    color: #F15152;
}

.trends-container  .trends{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trends-container  .trends .trend {
    text-decoration: none;
    color: #33364d;
    font-size: 20px;
    padding: 20px 40px;
    transition: all 100ms;
}
.trends-container  .trends .trend:visited {
    color: #33364d;
}
.trends-container  .trends .trend:hover {
    color: #F15152;
    transform: scale(1.2);
}

.container-fluid {
    padding: 0 10px;
    display: flex;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    padding: 0 5px;
}

.result-item {
    margin: 0 0 20px 0;
    display: flex;
    align-items: flex-start;
    color: #33364d;
    text-decoration: none;
    padding: 0 5px 10px 5px;
    border-bottom: 1px solid lightgray;
}

.result-item:hover {
    color: #F15152;
}

.result-item img{
    width: 100%;
}

.result-item {
    background-position: right 5px bottom +5px;
    background-repeat: no-repeat;
    background-size: 50px;
    padding: 0 5px 15px 5px;
}



.result-item img {
    width: auto;
    margin-right: 10px;
}

.result-item.cnn img,
.result-item.buzzfeed img,
.result-item.eonline img {
    width: 100%;
    margin: 0 0 10px 0;
}

.result-item.reddit {
    background-image: url("../img/reddit-logo.svg");
}

.result-item.abcnews {
    background-image: url("../img/abc-news-logo.svg");
}

.result-item.abcnews img {
    width: 140px;
}

.result-item.cnn {
    background-image: url("../img/cnn-logo.svg");
    background-size: 30px;
}

.result-item.cnn,
.result-item.buzzfeed,
.result-item.eonline {
    flex-direction: column;
}

@media (max-width: 700px) {
    .trends-container  .trends .trend {
        padding: 10px 20px;
    }

    form,
    .search-bar {
        width: 100%;
    }

    .home-container {
        padding: 15px;
    }
}

@media (max-width: 700px) {
    .trends-container  .trends .trend {
        padding: 10px 20px;
    }
}

@media (max-width: 400px) {
    .trends-container  .trends .trend {
        padding: 5px 10px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}



